package {{package}}


import {{modelPackage}}.* // ktlint-disable
import java.util.* // ktlint-disable
import java.io.* // ktlint-disable
import java.math.* // ktlint-disable
import retrofit2.Response // ktlint-disable
import okhttp3.ResponseBody // ktlint-disable
import retrofit2.* // ktlint-disable
import retrofit2.http.* // ktlint-disable

{{#operations}}
interface {{classname}} {
{{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    *
{{#allParams}}        * @param {{{paramName}}} {{{description}}}{{#example}}/ example :: {{{example}}}{{/example}}
{{/allParams}}
    * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    * @link https://github.com/eaglesakura/lightweight-swagger-codegen
    */
    @{{httpMethod}}("{{basePath}}{{path}}")
    suspend fun {{nickname}}(
        {{#allParams}}
            {{#isHeaderParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isHeaderParam}}
            {{#isPathParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isPathParam}}
            {{#isQueryParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isQueryParam}}
            {{#isFormParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isFormParam}}
            {{#isBodyParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isBodyParam}}
        {{/allParams}}
    ): {{#returnType}}Response<{{{returnType}}}>{{/returnType}}{{^returnType}}Response<ResponseBody>{{/returnType}}

    /**
    * {{summary}}
    * {{notes}}
    *
{{#allParams}}        * @param {{{paramName}}} {{{description}}}{{#example}}/ example :: {{{example}}}{{/example}}
    {{/allParams}}
    * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    * @link https://github.com/eaglesakura/lightweight-swagger-codegen
    */
    @{{httpMethod}}("{{basePath}}{{path}}")
    suspend fun {{nickname}}Body(
    {{#allParams}}
        {{#isHeaderParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isHeaderParam}}
        {{#isPathParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isPathParam}}
        {{#isQueryParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isQueryParam}}
        {{#isFormParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isFormParam}}
        {{#isBodyParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isBodyParam}}
    {{/allParams}}
    ): Response<ResponseBody>

    /**
    * {{summary}}
    * {{notes}}
    *
{{#allParams}}        * @param {{{paramName}}} {{{description}}}{{#example}}/ example :: {{{example}}}{{/example}}
    {{/allParams}}
    * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    * @link https://github.com/eaglesakura/lightweight-swagger-codegen
    */
    @Streaming
    @{{httpMethod}}("{{basePath}}{{path}}")
    suspend fun {{nickname}}Streaming(
    {{#allParams}}
        {{#isHeaderParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isHeaderParam}}
        {{#isPathParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isPathParam}}
        {{#isQueryParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isQueryParam}}
        {{#isFormParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isFormParam}}
        {{#isBodyParam}}@Header("{{{baseName}}}") {{{paramName}}}: {{{dataType}}}{{^required}}? = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/isBodyParam}}
    {{/allParams}}
    ): Response<ResponseBody>
{{/operation}}
}
{{/operations}}
